* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#Navbar {
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position:fixed;
    z-index:10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-top: -8px;
}
#first {
    padding: 10px 20px;
    height: 100%;
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5b95f;
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
}
#parag{
    color: #e5b95f;
}
#logo {
    height: 100%;
    width: 210px;
}
#logo>a>img {
    height: 82%;
    width: 100%;
    margin-top: 10px;
}
#tools {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-top:60px;
    color: #e5b95f;
}
#tools>div>img {
    height: 50%;
    width: 50%;
}
#parag1{
    margin-top: -20px;
}
#parag1 .Zero {
    padding: 3px 3px;
    font-weight: 700;
    color: black;
    border-radius: 20px;
    text-align: center;
    font-size: 10px;
    background-color: #e5b95f;
    margin-left: 6px;
    margin-bottom: -0px;
    /* margin-top: -40px; */
    cursor: pointer;
}
#parag1 .Zero p{
    margin-top: 10px;
}
.add_to_cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px;
    height: 100%;
    z-index: 20;
    background-color: white;
    transition: all 0.6s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.add_to_cart.active {
    right: 0;
}
.add_to_cart_tital {
    padding: 0;
    margin: 0;
    width: 350px;
    background-color: black;
    display: flex;
    height: 56px;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
}
#idont {
    color: white;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    margin-right: 20px;
    display: block;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}
#idont:hover {
    cursor: pointer;
    transform: rotate(90deg);
}
/* *********************drop down menu **************************** */
.dropdown_menu {
    position: absolute;
    background-color:white;
    margin-top: 10px;
    /* left: 20%; */
    /* margin-left: 40%; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    right: 2%;
}
.dropdown_menu a {
    color:black;
    padding: 15px 20px;
    right: 90%;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    display: block;
}
.dropdown_menu a:hover {
    background-color:#e5b95f;
}
.dropdown:hover .dropdown_menu {
    transition: all 0.5s ease-in-out;
    display: block;
}
.add_to_cart_tital>p {
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    font-size: 25px;
    text-transform: uppercase;
}
.ap_img_name{
    width: 100%;
    height: 100%;
    
    z-index: 20;
   overflow: scroll;
}
.ap_img_name>div{
    
    display:flex;
}
.ap_img_name>div>p{
    font-size: 18px;
    margin: auto;
    
}
.ap_img_name>div>img{
    display: block;
    width: 40%;
    height: 40%;
}
.ap_img_name>div>div{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

/* *****************Product*********** */
.product_display {
    width: 100%;
    height: 60%;
    background-color: white;
}
.total_in {
    height: 8%;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.total_in>div {
    display: flex;
    color: #e5b95f;
}

#Parag>#cart_opan{
    cursor: pointer;
    margin-top: -20px;
   
}
.add_to_cart>button {
    margin: 0;
    padding: 0;
    display: block;
    width: 99%;
    margin: 10px 2px;
    padding: 15px 0px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    text-align: center;
    letter-spacing: 1px;
    border: 2px solid;
    box-sizing: border-box;
    cursor: pointer;
}
.add_to_cart>button+button {
    background-color: #e5b95f;
    border: none;
    font-weight: 600;
}

.add_to_cart>button:hover {
    border: none;
    background-color: #e5b95f;
}

.add_to_cart>button+button:hover {

    border: none;
    color: white;
    background-color: black;
}
#search{
 color: #e5b95f;
}

i {
cursor: pointer;
}
#myinput{
    width:30%;  
}
.bag{
    margin-left: 35%;
    margin-top:100px;
}
.card{
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 6px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.card:hover{
box-shadow: 0px 0px 51px -36px rgba(0,0,0,1);
}
p{
text-align: center;
}